<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Weather Data API</title>
  </head>
  <body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>URL format: http://127.0.0.1:5000/api/v1/station</p>
    <p>URL format: http://127.0.0.1:5000/api/v1/yearly/station/year</p>
    <p>
      URL example:
      <a href="http://127.0.0.1:5000/api/v1/5"
        >http://127.0.0.1:5000/api/v1/5</a
      >
    </p>
    <p>
      URL example:
      <a href="http://127.0.0.1:5000/api/v1/5/1988-10-25"
        >http://127.0.0.1:5000/api/v1/5/1988-10-25</a
      >
    </p>
    <p>
      URL example:
      <a href="http://127.0.0.1:5000/api/v1/yearly/5/1988"
        >http://127.0.0.1:5000/api/v1/yearly/5/1988</a
      >
    </p>
    <p>{{data|safe}}</p>
  </body>
</html>
