@font-face {
  font-family: 'Meta';
  src: local('Meta'), url('./fonts/meta.ttf') format('truetype');
}
@font-face {
  font-family: 'MetaBold';
  src: local('MetaBold'), url('./fonts/metaBold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Meta', 'Roboto', 'Arial', 'Helvetica', 'Arial', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/ code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
