body {
  margin: 0;
  overflow: hidden;
}
.hidden {
  display: none;
}

.winner {
  color: white;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.btn {
  padding: 10px 8px;
  background-color: blue;
  color: white;
  border-radius: 3px solid white;
}
.btn-map {
  padding: 10px 8px;
  background-color: blue;
  color: white;
  border-radius: 3px solid white;
}
