ul {
  padding-left: 0;
  list-style-type: none;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

nav {
  flex-direction: row;
}

.feat-table {
  padding: 2% 20% 2% 20%;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr 1fr 1fr;
  /* border: 1px solid black; */

  grid-gap: 5px;
}

.feature-left {
  align-self: center;
}

.feature-right {
  align-self: center;
}

section#howitworks {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  padding: 1% 20% 1% 20%;
  justify-content: center;
  margin-bottom: 7%;
}

.pricing-panel {
  display: flex;
  flex-direction: row;
  margin-bottom: 7%;
  justify-content: center;
}

.valve-value,
.tenor-value,
.bass-value {
  border: 1px solid black;
  min-width: 300px;
  margin-right: 10px;
  text-align: center;
}

.price-header {
  border: 1px solid rgb(201, 199, 199);
  background-color: rgb(201, 199, 199);
  text-align: center;
  margin-bottom: 10%;
  text-transform: uppercase;
}

.item-price {
  text-align: center;
  font-size: 1.4em;
  font-weight: 800;
}

.feature-list {
  text-align: center;
  margin-top: 10%;
}

.feature-list li {
  margin-bottom: 15px;
}

.btn-price {
  padding: 3% 10% 3% 10%;
  margin-top: 15px;
  margin-bottom: 10%;
  background-color: #f1c40f;
  border: 0px;
  font-size: 1.1em;
}
