ul {
  padding-left: 0;
  list-style-type: none;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav img {
  max-width: 300px;
  width: 100%;
}

.nav-links {
  flex-basis: 35%;
}

.nav-links ul {
  list-style-type: none;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-links ul li {
  margin: 4%;
}

.feat-table {
  padding: 2% 20% 2% 20%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 1fr 1fr;
  /* border: 1px solid black; */

  grid-gap: 5px;
}

.feature-left {
  align-self: center;
}

.feature-right {
  align-self: center;
}

section#howitworks {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  padding: 1% 20% 1% 20%;
  justify-content: center;
  margin-bottom: 7%;
}

.pricing-panel {
  display: flex;
  flex-direction: row;
  margin-bottom: 7%;
  justify-content: center;
}

.valve-value,
.tenor-value,
.bass-value {
  border: 1px solid black;
  min-width: 300px;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
}

.price-header {
  border: 1px solid rgb(201, 199, 199);
  background-color: rgb(201, 199, 199);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  margin-bottom: 10%;
  text-transform: uppercase;
}

.item-price {
  text-align: center;
  font-size: 1.4em;
  font-weight: 800;
}

.feature-list {
  text-align: center;
  margin-top: 10%;
}

.feature-list li {
  margin-bottom: 15px;
}

.btn-price {
  padding: 3% 10% 3% 10%;
  margin-top: 15px;
  margin-bottom: 10%;
  background-color: #f1c40f;
  border: 0px;
  font-size: 1.1em;
}

footer {
  border: 1px solid rgb(201, 199, 199);
  background-color: rgb(201, 199, 199);
}

.footer-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-nav {
  flex-basis: 100%;
}
.footer-nav ul {
  list-style-type: none;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
}

.footer-nav ul li {
  margin-right: 3%;
}

.copyright {
  padding-right: 3%;
  color: rgb(109, 107, 107);
  font-size: 0.8em;
}


@media (max-width: 900px) {
  .feat-table {
    padding: 2% 20% 2% 20%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* border: 1px solid black; */
    grid-gap: 0px;
    justify-items: center;

  }

  .pricing-panel {
    display: flex;
    flex-direction: column;
}

}


@media (max-width: 600px) {
  nav {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .nav img {
    flex-basis: 100%;
    align-items: center;
  }
  .nav-links {
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    flex-basis: 100%;

  }

  .nav-links ul {
    flex-direction: column;
    justify-self: flex-end;
    padding-left: 0;
    margin-top: 0;
  }
  .nav-links ul li {
    flex-direction: column;
    border: 1px solid black;
    padding-left: 33%;
    margin: 0;
    font-size: 1.5em;
  } 



  