body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  background: linear-gradient(#dce1e3, #e6ecec);
  height: 100vh;
}

.left,
.right {
  flex-basis: 20vw;
}

#container {
  flex-basis: 90%;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 20px;
}

#container input {
  margin-left: 20vw;
  width: 50%;
  height: 10vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  border-radius: 5px;
}
#searchLabel {
  margin-left: 20vw;
}

#searchOptions {
  margin-left: 20vw;
  width: 50.5%;
  margin-bottom: 0px;
  text-align: left;
  background-color: white;
}
#searchOptions:hover {
  cursor: pointer;
}
.dropDown-item {
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
  padding-left: 1vw;
  border-radius: 5px;
  height: 7vh;
  padding-top: 0;
  margin: 0;
}

.dropDown-item h6 {
  font-size: 1.2rem;
  padding: 8px;
  margin: 0;
}

#tableContainer {
  width: 80vw;
  margin-bottom: 30px;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 10px;
  box-shadow: 1px 3px 15px 0px rgb(24, 24, 24);
  border-radius: 10px;
  width: 100%;
  background: white;
  margin-bottom: 20px;
}

th,
td {
  /* border: 1px solid black; */
  padding: 15px;
}

th {
  text-align: center;
  background-color: #203647;
  color: white;
}
tr:nth-of-type(even) {
  background-color: #eee;
}
#td-summary {
  text-align: left;
}
.pending {
  background-color: #007cc7;
  border-radius: 10%;
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: white;
  box-shadow: 1px 2px 5px 0px rgba(24, 24, 24, 0.7);
}

.hold {
  background-color: #12232e;
  border-radius: 10%;
  padding: 0.3rem 2rem 0.3rem 2rem;
  color: white;
  box-shadow: 1px 2px 5px 0px rgba(24, 24, 24, 0.7);
}

.open,
.new {
  background-color: rgba(32, 99, 37, 0.904);
  border-radius: 10%;
  padding: 0.3rem 1.9rem 0.3rem 1.9rem;
  color: white;
  box-shadow: 1px 2px 5px 0px rgba(24, 24, 24, 0.7);
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:hover {
  cursor: pointer;
}

.no-results {
  box-shadow: 1px 3px 15px 0px rgb(24, 24, 24, 0.6);
  border-radius: 10px;
  margin-left: 30vw;
  width: 35vw;
  padding: 2vh;
}
