body {
  background-color: lightgray;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  margin-top: 5%;
}

#container {
  flex-basis: 60%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#scoreboard {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.board,
.middle {
  min-height: 250px;
  max-width: 300px;
  border: 1px solid black;
  flex-basis: 33%;
}

.board {
  font-family: "Raleway Dots", cursive;
  color: white;
  font-size: 12em;
  background-color: black;
}
.btn-group {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.scorebtn {
  max-width: 300px;
  flex-basis: 33%;
  border: 1px solid black;
}

#newGame-container {
  text-align: center;
  border: 1px black solid;
}

.newGamebtn {
  width: 50%;
}
