body {
  background-color: rgba(211, 211, 211, 0.671);
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  margin-top: 5%;
}

#container {
  flex-basis: 60%;
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 2px 50px 0px rgb(24, 24, 24);
}

#scoreboard {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.board,
.middle {
  min-height: 250px;
  max-width: 300px;
  border: 1px solid black;
  flex-basis: 33.3%;
}

.board {
  font-family: "Raleway Dots", cursive;
  color: white;
  font-size: 12em;
  background-color: black;
}
.btn-group {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  box-shadow: inset 1px 2px 50px 0px rgb(24, 24, 24);
}

.scorebtn {
  max-width: 300px;
  flex-basis: 33%;
  border: 1px solid black;
  padding: 1% 2.4% 1% 2.4%;
}

#player1,
#player2 {
  padding: 2% 5% 2% 5%;
  background-color: rgb(116, 116, 255);
  color: white;
  font-family: monospace;
  font-size: 1.3em;
  box-shadow: 1px 2px 5px 0px rgb(24, 24, 24);
}

#playTill {
  padding: 1% 5% 1% 5%;
  width: 50%;
  font-size: 1.2em;
  text-align-last: center;
  box-shadow: 1px 2px 3px 0px rgb(24, 24, 24);
}

#newGame-container {
  text-align: center;
  border: 1px black solid;
  padding: 1% 0 1% 0;
}

.newGamebtn {
  width: 50%;
  box-shadow: 1px 2px 50px 0px rgb(24, 24, 24);
  padding: 1% 0 1% 0;
  font-family: monospace;
  font-size: 1.5em;
  border: black solid 2px;
  background-color: rgb(255, 119, 70);
  color: white;
  font-weight: 700;
  box-shadow: 1px 2px 5px 0px rgb(24, 24, 24);
}

#msg {
  display: block;
  margin-top: 25%;
  text-align: center;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
}
