<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/farms" method="POST">
      <label for="name">farm Name</label>
      <input type="text" name="name" id="name" placeholder="farm name" />
      <label for="city">city</label>
      <input type="text" name="city" id="city" placeholder="farm city" />
      <label for="name">email</label>
      <input type="email" name="email" id="email" placeholder="email" />

      <button>Submit</button>
    </form>
    <p><a href="/products">See All Products</a></p>
  </body>
</html>
