body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
#container {
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  /* align-content: center; */
}

div {
  width: 200px;
  height: 200px;
  flex-basis: 300px;
  flex-grow: 1;
}

div:nth-of-type(1) {
  flex-shrink: 1;
}

div:nth-of-type(1) {
  flex-grow: 2;
}

/* div:nth-of-type(2) {
  align-self: flex-end;
}

div:nth-of-type(3) {
  align-self: center;
} */

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;
}

main .sidebar {
  background-color: purple;
  /* border: 2px solid white; */

  flex: 1 2 300px;
}

main .maincontent {
  background-color: turquoise;
  flex: 2 1 600px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
  /* border: 1px solid red; */
  flex-grow: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  h1 {
    font-size: 32px;
    color: tomato;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 32px;
    color: green;
  }
}

@media (orientation: landscape) {
  body {
    background-color: lightgrey;
  }
}
