.grid {
  width: 400px;
  height: 600px;
  top: 0;
  background-color: grey;
  position: absolute;
  background-image: url('./assets/background.png');
}

.gameover-container {
  position: absolute;
  width: 400px;
  z-index: 20;
}

.doodler {
  width: 87px;
  height: 85px;
  background-image: url('./assets/doodler.png');
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url('./assets/platform.png');

  position: absolute;
}

#gameover {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.game-over-title {
  font-weight: bold;
  font-size: 1.5em;
}

.score {
  margin-top: 0;
}

.scoreboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  z-index: 10;
}

#score-board-display {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-left: 0.8rem;
}

#score-board-display h6 {
  margin: 0;
}

.reset-hidden {
  z-index: 20;
}

#reset-button {
  position: absolute;
  background-color: green;
  width: 100%;
  z-index: 20;
}
