.addform {
  min-height: 100vh;
  background-color: #150937;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.card {
  width: 60vw;
  margin-top: 1rem;
  min-height: 80vh;
  background-color: #fff;
  padding: 1rem;
}
