.container {
  min-height: 100vh;
  padding: 3rem 2.5rem 20px 2.5rem;
  background-color: #150937;
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.table {
  margin-bottom: 20px;
}

.imgTable {
  width: 60%;
}
