div.container {
  padding: 0;
}

/* #nav {
  background-color: rgba(0, 0, 0, 0) !important;
  z-index: 1;
  position: absolute;
  left: 78%;
}

#nav a {
  color: white;
  font-size: 1.3rem;
  text-shadow: -1px -1px 1px #ff00fc;
} */
/* for active link styles -- check global sheet */
