* {
  font-family: 'Noto Sans JP', sans-serif !important;
}
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a.nav-link.active {
  color: #ff00fc !important;
}

@media (max-width: 971px) {
  #basic-navbar-nav.collapse.show {
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding: 10%;
  }
}
