<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Todo 2</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= today %></h1>
    </div>

    <div class="box">
      <% for(let todo of todos) { %>
      <form action="/delete/<%=todo._id %>" method="post">
        <div class="item">
          <input type="checkbox" onChange="this.form.submit()" />
          <p><%= todo.todo %></p>
        </div>
      </form>
      <% } %>
      <form class="" action="/" method="POST">
        <input type="text" name="newItem" id="newTodo" placeholder="Enter a Item" autocomplete="off" />
        <button>+</button>
      </form>
    </div>
  </body>
</html>
