<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('partials/head.ejs')%>
    </head>
  
    <body>
      <%- include('partials/navbar.ejs')%>
    <h1>Homepage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos veniam adipisci expedita non. Laborum dolor earum quod obcaecati labore nobis
      sint odio repudiandae, corporis temporibus voluptatum quasi, iste veritatis eius. Obcaecati alias, quaerat adipisci nihil recusandae tempora
      corporis. Harum, fugit, iure dolores qui quas repellat ipsa odio quasi distinctio magnam possimus ipsum ab. Minima autem reiciendis architecto
      repellat aliquam quod.
    </p>
  </body>
</html>
