.projects {
  /* min-height: 100vh; */
  background: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 35%, rgba(0, 0, 0, 0.25) 100%), url('/img/breaker.jpg');
  /* background-image: url('/img/breaker.jpg'); */
  border-top: 5px solid #b7e3fe;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 5px solid #ff00fc;
  /* min-height: 100%; */
}

.projectDiv {
  width: 85vw;
}

.select {
  margin-top: 10%;
  display: flex;
}

.select label {
  color: #b7e3fe;
  text-shadow: 2px 2px 3px black;
  margin-right: 7px;
  font-size: 1.3rem;
}

.select select {
  min-width: 150px;
  font-size: 1.1rem;
  border: 2px solid #ff00fc;
  box-shadow: 2px 2px 5px #b7e3fe;
  margin-bottom: 15px;
}

.header h2 {
  font-size: 4rem;
  color: #b7e3fe;
  font-size: 80px;
  padding-top: 7%;
  padding-bottom: 10%;
  text-shadow: -3px -2px 6px #ff00fc, 3px 3px 0px #3557c6;
}

.projectTile {
  margin-bottom: 1.5rem;
}
.projectCard {
  margin-top: 1rem;
  height: 100% !important;
  min-height: 435px;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0.85));
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.7);
  padding: 1rem 1rem 0 1rem;
  border: 1px solid #ff00fc;
}

.title {
  margin-top: 1rem;
}
.title h5 {
  font-weight: 700;
}
.title h5 a:hover {
  color: #ff00fc;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.description {
  margin-top: 5px;
}
/* .tech {
  margin-bottom: 15px;
  margin-top: 15px;
} */

.viewBtn {
  margin-bottom: 15px;
}

.viewAllDiv {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  margin-top: 6%;
  min-width: 100%;
}

#viewAllbtn {
  display: inline-block;
  width: 100%;
  background-color: #150937 !important;
}

#viewAllbtn {
  border-color: #b7e3fe;
  border-width: 3px;
  /* background-color: #3346bc !important; */
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}
#viewAllbtn a {
  color: #fff;
  font-weight: 800;
  text-shadow: -1px -1px 1px #ff00fc;
}

#viewAllbtn a:hover {
  color: black !important;
}
#viewAllbtn:hover {
  background-color: #b7e3fe !important;
  border-color: #b7e3fe;
}

@media (max-width: 477px) {
  .projects {
    padding-top: 10%;
  }
}

@media (max-width: 397px) {
  .projects {
    padding-top: 14%;
  }
  .header h2 {
    font-size: 3rem;
  }
  .projectDiv {
    width: 100%;
  }
  .select {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .select select {
    width: 100%;
  }
}
