.btnDiv {
  display: flex;
  justify-content: space-around;
  margin: 2px 0 0 0;
}

div.btnDiv button {
  border-color: #150937;
  border-width: 2px;
  background-color: #150937 !important;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
  border: 1px solid #b7e3fe;
}

div.btnDiv button a {
  color: #fff;
}

div.btnDiv button:hover {
  background-color: #b7e3fe !important;
}
div.btnDiv button:hover a {
  color: black;
}

div.btnDiv button:hover {
  border-color: #b7e3fe;
}

div.btnDiv button:focus {
  box-shadow: 0 0 0 0.25rem #b7e3fe;
}
