body {
  text-align: center;
}
#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-flow: wrap;
}

.pokeBox {
  flex-basis: 16.66%;
  text-align: center;
}

.pokeBox label {
  font-weight: 700;
  display: block;
}
