body {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid white;
  font-family: "Raleway", sans-serif;
}

section#projects {
  background-color: #45567d;
  flex-basis: 100%;
  border: 1px solid white;
  padding: 1% 7% 3% 7%;
}

.project-grid-container {
  border: 3px solid orange;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 45% 45% 15%;
  column-gap: 3%;
  row-gap: 3%;
  justify-content: center;
  /* align-items: start; */
}

div.project-grid {
  /* border: 1px solid rgb(255, 2, 141); */
  text-align: center;
  background-color: #303841;
}

.project-grid img {
  width: 100%;
  height: 80%;
  margin-bottom: 0px;
}
.project-tile {
  /* border: 1px solid rgb(47, 207, 55); */
  width: 100%;
  height: 0;
  margin: 0;
  background-color: #303841;
  padding-bottom: 0%;
}
.link-hover {
  display: none;
  color: #ff7f50;
}

.project-tile:hover span.link-hover {
  display: inline;
  color: #ff7f50;
  font-weight: 400;
}

.project-tile a {
  color: white;
  text-decoration: none;
}

.project-btn {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  justify-self: center;
  height: 30%;
  width: 50%;
}
