/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */

/* Forms
--------------------------------------------- */

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*='wp-image-'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex='-1']:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;

  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;

  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/* 
================================================================================================================================
************************************theme specific******************************************************************************
================================================================================================================================
================================================================================================================================

*/

/* Wordpress Logged IN */
.logged-in .navbar-fixed-top {
  top: 32px;
}

.navbar-nav > li.current_page_item a,
.navbar-nav > li.current_page_parent a {
  color: black;
  font-weight: bold;
}

/* Home Page */

html {
  padding: 0;
  margin: 0;
}

body.page {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 1em;
}

#home {
  padding: 0;
}

header {
  padding-left: 15px;
}

.navbar-nav > li.menu-item a {
  text-decoration: none;
  margin-bottom: 1px;
  margin-top: 1px;
  color: black;
  font-size: 1.3em;
  line-height: 1em;
}

a.navbar-brand {
  font-size: 1.5em;
}

header .navsocial {
  padding-left: 4px;
  padding-right: 4px;
  color: #2a6f97;
}

#navtitle:hover {
  color: #eda632;
}

.navsocial:hover {
  color: #eda632;
}

div.collapse.navbar-collapse a:hover {
  color: #eda632;
}

.hero {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 90%), url('/assets/img/paul_sarlo_hero.jpeg');
  min-height: 80vh;
  /* position: relative; */
  background-size: cover;
  width: 100%;
  padding: 0 0;
}

.logo {
  padding: 1% 0 1% 0%;
  margin-left: 9%;
}

.logo img {
  width: 65%;
}

.callta {
  text-align: center;
  width: 100%;
  padding: 1% 0 0% 1%;
}

.callta p {
  font-size: 1.2em;
}

.callta .btn {
  margin-left: 1%;
  width: auto;
  padding: 1%;
  background-color: #2a6f97;
  border-color: white;
  font-weight: bold;
}

.callta .btn:hover {
  background: #eda632;
}
.rescont {
  background: #012a4a;
  min-height: 35vh;
  padding: 5% 6% 5% 6%;
  text-align: center;
  /* background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
}

.resrow {
  width: 100%;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
}

.resheader h2 {
  margin-bottom: 6%;
  font-size: 2.5em;
}

.mainres i {
  color: white;
  size: 5x;
}

.mainres h3 {
  font-size: 1.5em;
  margin-top: 2.5%;
}

.mainres a {
  text-decoration: none;
  color: white;
}
.mainres a:hover,
.mainres i:hover {
  color: #eda632;
}

.resbtn.resrow {
  margin-top: 5%;
}
.resbtn.resrow button {
  background-color: #2a6f97;
  color: white;
  font-weight: bold;
  padding: 1% 2%;
  border-color: white;
}

.resbtn.resrow button:hover {
  background-color: #eda632;
}

footer {
  background-color: #fff;
  height: 5vh;
  width: 100%;
  padding: 1% 0 1% 5%;
  text-align: center;
}

/* ------------------------About ME ------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.about,
.legi,
.post {
  background-color: #012a4a;
}

#biocontainer,
#legicontainer,
#postcontainer {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.bioimage img {
  width: 100%;
  margin: 20% 0 1% 3%;
}

.bio {
  padding-top: 4%;
}

/* ------------------------legislation page ------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.legiheader {
  color: white;
}

.legifeedtitle.card-title a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

p.card-text a {
  text-decoration: none;
  font-weight: bold;
  color: #2a6f97;
}
.legifeedtitle.card-title a:hover,
p.card-text a:hover,
.resourceP-title a:hover {
  color: #eda632;
}

img.img-card-res {
  width: 100%;
}

.resourceP-title {
  text-align: center;
}

.resourceP-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.entry-title {
  color: black;
}

/* ----------------------------------POST ------------------------------------------------------
------------------------------------------------------------------------------------------------
*/

.postheader.entry-title {
  margin-left: 1%;
  margin-top: 1%;
}

img.postimage {
  width: 100%;
}
