/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */

/* Forms
--------------------------------------------- */

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*='wp-image-'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex='-1']:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;

  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;

  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/* 
================================================================================================================================
************************************theme specific******************************************************************************
================================================================================================================================
================================================================================================================================

*/

/* Wordpress Logged IN */
.logged-in .navbar-fixed-top {
  top: 32px;
}

.navbar-nav > li.current_page_item a,
.navbar-nav > li.current_page_parent a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

/* Home Page */

html {
  padding: 0;
  margin: 0;
}

div.clearfix a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
div.clearfix a:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

button.btn:hover,
button.btn:active {
  border-color: #2a6f97;
  box-shadow: 1px 5px 5px #2a6f97;
}

body.page {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 1em;
}

#home {
  padding: 0;
}

header {
  padding-left: 15px;
  background-color: #f8f9fa;
}

.navbar-nav > li.menu-item a {
  text-decoration: none;
  margin-bottom: 1px;
  margin-top: 1px;
  color: black;
  font-size: 1.1em;
  line-height: 1em;
}

a.navbar-brand {
  font-size: 1.5em;
}

header .navsocial {
  padding-left: 4px;
  padding-right: 4px;
  color: #2a6f97;
}

#navtitle:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.navsocial:hover,
.navsocial:focus,
.navsocial:active {
  color: #eda632;
  border-color: #2a6f97;
  text-shadow: 1px 5px 5px #2a6f97;
}

div.collapse.navbar-collapse a:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

button.search-submit {
  background-color: #2a6f97;
  color: white;
  font-weight: bold;
  margin-left: 4px;
}
button.search-submit:hover {
  background-color: #eda632;
  color: white;
}
button.search-submit:active,
button.search-submit:focus,
input.search-field:active,
input.search-field:focus {
  border-color: #2a6f97;
  box-shadow: 1px 5px 5px #2a6f97;
}

.nav-search-form form {
  display: inline;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1%;
}

div.col-3.nav-social-icons {
  padding-left: 0;
  padding-right: 0;
}

.hero {
  min-height: 80vh;
  /* position: relative; */
  background-size: cover;
  width: 100%;
  padding: 0 0;
}

.logo {
  padding: 1% 0 1% 0%;
  margin-left: 9%;
}

.logo img {
  width: 65%;
}

div.callta.row {
  text-align: center;
  width: 100%;
  padding: 1% 0 0% 1%;
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
}

.callta p {
  font-size: 1.2em;
}

.callta .btn {
  margin-left: 1%;
  width: auto;
  padding: 1%;
  background-color: #2a6f97;
  border-color: white;
  font-weight: bold;
}

.callta .btn:hover {
  background: #eda632;
}
.rescont {
  background: #012a4a;
  min-height: 35vh;
  padding: 6% 6% 5% 6%;
  text-align: center;
  /* background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
}

div.row.resrow {
  width: 100%;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
  margin-left: 0;
  margin-right: 0;
}

.resheader h2 {
  margin-bottom: 6%;
  font-size: 2.5em;
  text-decoration: none;
}
.resheader a {
  color: white;
  text-decoration: none;
}
.resheader a:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.mainres i {
  color: white;
  size: 5x;
}

.mainres h3 {
  font-size: 1.5em;
  margin-top: 2.5%;
}

.mainres a {
  text-decoration: none;
  color: white;
}
.mainres a:hover,
.mainres i:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

div.mainres h3:hover,
div.resheader h2:hover {
  color: #eda632;
  border-color: #2a6f97;
  text-shadow: 1px 5px 5px #2a6f97;
  font-weight: bold;
}
div.mainres i:hover {
  color: #eda632;
  border-color: #2a6f97;
  text-shadow: 1px 5px 5px #2a6f97;
}

.resbtn.resrow {
  margin-top: 5%;
}
.resbtn.resrow button {
  background-color: #2a6f97;
  color: white;
  font-weight: bold;
  padding: 1% 2%;
  border-color: white;
}

.resbtn.resrow button:hover {
  background-color: #eda632;
  font-weight: bold;
}
/* ------------------------Page (General) ------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.about,
.legi,
.post,
.fourOFour,
.posts,
.contact,
.resc,
.page {
  background-color: #012a4a;
}

#biocontainer,
#postcontainer,
#fourOFour {
  margin-bottom: 35px;
  padding-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

div.headerImage.row {
  margin-right: 0;
}

.headerImage {
  min-height: 35vh;
  max-height: 42vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100px;
}

.headerImageText h1 {
  color: white;
  margin-bottom: 3%;
  padding-top: 4%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
}
.headerImageText h3 {
  color: white;
  margin-bottom: 3%;
  padding-top: 4%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
  font-family: 'Raleway', sans-serif;
  padding-left: 1%;
  padding-right: 1%;
}

h1#searchh1 {
  margin-bottom: 0;
}

.headerImageText h4 {
  color: white;
  margin-bottom: 3%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

#pagecontainer {
  margin-bottom: 35px;
  padding-top: 20px;
  padding-left: 1%;
  padding-bottom: 3%;
}

#pagecontent {
  margin-top: 25px;
}

aside.widget-area:first-child {
  margin-top: 20px;
}

section.sidebarWidget {
  margin-bottom: 1rem;
}

.widget_search.sidebarWidget > form > label > input.search-field {
  margin-right: 3rem !important;
}

.sidebarWidget li a {
  text-decoration: none;
  margin-bottom: 1px;
  margin-top: 1px;
  color: black;
  font-size: 1em;
  line-height: 1em;
}
.sidebarWidget li a:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

/* ------------------------About ME ------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

#biocontainer {
  margin-top: 25px;
  margin-bottom: 35px;
  padding-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.bioimage img {
  min-height: 20vh;
  width: auto;
  margin: 20% 0 1% 3%;
}

.bio {
  padding-top: 4%;
}

/* ------------------------legislation page ------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

#legicontainer {
  margin-bottom: 35px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.legiheader {
  color: white;
}

#legicontainer_text {
  margin-bottom: 0;
  margin-top: 2%;
}

.legiIntroContent.card {
  padding: 2%;
}

.legifeedtitle.card-title a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

p.card-text a {
  text-decoration: none;
  font-weight: bold;
  color: #2a6f97;
}
.legifeedtitle.card-title a:hover,
p.card-text a:hover,
.resourceP-title a:hover {
  color: #eda632;
}

img.img-card-res {
  width: 100%;
  min-height: 42vh;
  max-height: 50vh;
}

/* ------------------------resource  page ------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

#resccontainer {
  margin-bottom: 35px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}
#rescCScontainer {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.resourceP-title {
  text-align: center;
}

.resourceP-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.resourceP-title a:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.entry-title {
  color: black;
}

.resource-CS-title {
  text-align: center;
}

.resource-CS-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.resource-CS-title a:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

img.img-card-CS {
  height: auto;
  width: 100%;
  /* width: 100%; */
}

div.card.resource-CS-card {
  margin-right: 5px;
  max-width: 526px;
}

/* ----------------------------------POST ------------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#postscontainer {
  margin-top: 25px;
  margin-bottom: 35px;
  padding-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.postheader {
  margin-top: 1%;
  color: black;
  text-decoration: none;
}

.blogrollheader {
  margin-top: 1%;
  margin-bottom: 0.5em;
}
.blogrollheader a {
  text-decoration: none;
  color: black;
}
.blogrollheader a:hover {
  text-decoration: none;
  color: #eda632;
}
img.postimage {
  max-height: 42vh;
  max-width: 100%;
}

a.moretag {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}
a.moretag:hover {
  color: #eda632;
}

div.entry-meta.row {
  margin-left: 0;
  padding-left: 0;
}

div.row.readmore {
  margin-bottom: 1em;
}

div.row.post-content {
  padding-left: 0;
}

nav.navigation a,
.rollPagination a {
  color: white;
  text-decoration: none;
}
nav.navigation a:hover,
.rollPagination a:hover {
  color: #eda632;
}

/* ----------------------------------404 ------------------------------------------------------
------------------------------------------------------------------------------------------------
*/
img.fourOFourImg.card-img-top {
  height: 42vh;
  width: 100%;
}

div.row.fourOFourHeadtext {
  margin-bottom: 1%;
  text-align: center;
}

.fourOFourtitle {
  text-align: center;
  padding: 4px;
}

.fourOFour-title {
  text-align: center;
}

.fourOFour-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* ----------------------------------contact ------------------------------------------------------
------------------------------------------------------------------------------------------------
*/

#contactcontainer {
  margin-top: 25px;
  margin-bottom: 35px;
  padding-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

iframe#contactmap {
  max-height: 50vh;
  min-height: 42vh;
}

div.contactcontent {
  padding: 1.5%;
}

p a {
  text-decoration: none;
  color: black;
}
p a:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

input.btn.btn-primary {
  margin-left: 1%;
  width: auto;
  padding: 1.5% 2%;
  background-color: #2a6f97;
  border-color: white;
  font-weight: bold;
}
input.btn.btn-primary:focus,
input.btn.btn-primary:hover {
  background-color: #eda632;
  border-color: #2a6f97;
  box-shadow: 1px 5px 5px #2a6f97;
}
/* ----------------------------------Footer ------------------------------------------------------
------------------------------------------------------------------------------------------------
*/
footer {
  margin-top: 1%;
  background-color: #f8f9fa;
}

footer li.menu-item > span.nav-link a {
  text-decoration: none;
  margin-bottom: 1px;
  margin-top: 1px;
  color: black;
  font-size: 1em;
  line-height: 1em;
}

.nav > li.current_page_item a,
.nav > li.current_page_parent a {
  color: black;
  font-weight: bold;
}

li.menu-item > span.nav-link a:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

footer {
  background-color: #fff;
  width: 100%;
  text-align: center;
}

div#footerRow {
  margin: 0 auto;
}

div.copyright {
  line-height: 0.8;
  text-align: right;
}

footer small {
  margin-bottom: 0;
}

footer small a {
  text-decoration: none;
  color: black;
  line-height: 0.2em;
}

footer small a:hover {
  color: #eda632;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

footer .navsocial {
  color: #2a6f97;
}

@media (max-width: 382px) {
  .hero {
    min-height: 40vh;
    position: relative;

    width: 100%;
  }
}

@media (max-width: 600px) {
  .hero {
    min-height: 30vh;

    position: relative;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .hero {
    min-height: 25vh;

    position: relative;
  }
}
